.nav-bar {
  background-color: white; 
  text-align: center;
  position: sticky;
  top: 0;
  z-index: 1000;
  border-bottom: 2px solid #3E3F5B;

  padding: 30px 0; 
}

.nav-bar a {
  
  color:  #3E3F5B; 
  text-decoration: none;
  margin: 0 15px;
  padding: 10px 20px;
  border-radius: 30px;
  font-weight: bold;
  font-size: 1.1rem;
  transition: background-color 0.3s, color 0.3s;
}

.nav-bar a:hover {
  text-decoration: none;  
  color: #F3C623;
}
.skill {
  text-align: center;        /* 텍스트도 가운데 정렬 */
  color: #3E3F5B;
  font-size: 3em;
  margin-bottom: 40px;
  max-width: 800px;
  width: 90%;
  margin: 0 auto;
}

.project-container {
  padding: 50px;
  
  color: #3E3F5B;
  min-height: 100vh;
  font-family: 'Arial', sans-serif;
}

.project-container h1 {
  text-align: center;
  font-size: 3rem;
  margin-bottom: 40px;
}

.project-list {
  display: flex;
  flex-wrap: wrap; /* 화면 작으면 자동 줄바꿈 */
  justify-content: center;
  gap: 40px; /* 카드 사이 간격 */
  padding: 40px 0;
}


.project-card {
  background-color: #3E3F5B;
  border: 2px solid #eee;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
  width: 400px; /* 고정 너비 */
  padding: 20px;
  border-radius: 10px;
  text-align: center;
}

.project-card img {
  width: 100%;
  height: auto;
  margin-top: 15px;
  border-radius: 8px;
}


.project-card h2 {
  margin-bottom: 10px;
  color: #ffffff;
}

.project-card p {
  margin-bottom: 10px;
  color: #e0e0e0;
}

.project-card a {
  color: #f4b942;
  text-decoration:none;
    font-size: 1.5rem;

}

/* intro는 약간만 띄움 */
.intro {
  margin-top: 60px;
  margin-bottom: 80px;
}

/* skills 리스트 섹션 */
.skills-section {
  margin-top: 80px;
  margin-bottom: 80px;
}

/* projects는 더 크게 띄워주기 */
.project-container {
  margin-top: 120px;
  margin-bottom: 150px;
}

